body {
    margin: 0 !important;
    padding: 0 !important;   
}

.nav {
    min-height: 42px;
    background-color: #EF5122;
    display: flex;
    justify-content: space-between;
}
.nav-list {
    padding-left: 0;
    margin: auto 16px;
}
.nav-item {
    display: inline-block;
    color :#fff;
    margin: 0 8px;
    list-style: none;
}
.form-container {
    max-width: 100%;
    padding: 32px;
    background-color: rgb(190, 187, 187);
   
}
.form-row {
    padding: 15px 25px;
    display: flex;
    background-color: #fff;
}
.form-label {
    min-width: 100px;
}
.form-input{
    flex: 1;
}
.column-layout {
    margin-top: 35px;
    padding: 0 15px;
    display: flex;

}
.column-item {
    padding: 0 10px;
}
.main-column {
    flex: 2;
}
.sidebar-one {
    flex: 1;

}
.sidebar-two {
    flex: 1;
}
.feature-layout {
    margin-top: 30px;
    background-color: rgb(190, 187, 187) ;
    display: flex;
    justify-content: space-around;
}
.feature-item {
    margin: 20px;
    padding: 12px 16px;
    flex: 1;

}
.feature1 {
    background-color: yellow;
   
}
.feature2 {
    background-color: violet;
}
.feature3 {
    background-color: green;
}
.chart-layout {
    height: 300px;
    margin: 35px auto 0 auto;
    padding: 30px 0;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}
.chart-layout__item {
    background-color: #EF5122;
    width: 50px;
    text-align: center;
    height: var(--percent);
    margin: 5px;
    animation: growth ease-in 1s;
}
@keyframes growth {
    from {
        opacity: 0;
        height: calc(var(--percent) - 50%);
    }
    to {
        opacity: 1;
        height:var(--percent);
    }
}